* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #000;
	text-align: center;
	font-family: "Futura PT", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: 2px;
}
h1 {
	font-size: 2em;
}
h2, h3, h4 {
	font-weight: 300;
	padding: 1em;
}
p {
	padding: 1.25em;
	width: 70%;
	margin: 0 auto;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
nav {
	background: #f9f9f9;
	padding: 1.5em;
	position: fixed;
	width: 100%;
}
span {
	font-weight: 800;
}
footer {
	background: #f9f9f9;
	padding: 2em;
}
#home {
	background: #c4d3ec;
	width: 100%;
	padding: 2em;
}
#contact {
	background: #015663;
	width: 100%;
	padding: 2em;
}
#about {
	width: 100%;
	padding: 2em;
	background: #d6cece;
}
#resume {
	background: #d8c6b7;
	width: 100%;
	padding: 2em;
}
img {
	width: 50%;
}
.testimonials {
	width: 100%;
	background-color: #f9c9bb;
	font-size: 2.5em;
	line-height: 1.5em;
	font-style: italic;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font:size 0;
	content: " ";
	clear: both;
	height: 0;
}