* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #343535;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1.25px;
	padding-top: 5%;
}
nav {
	background-color: #fff;
	height: 15%;
	width: 100%;
	top: 0;
}
nav a {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	top: 50%;
	font-size: 2em;
	letter-spacing: .25em;
	line-height: 1.25em;
}
span {
	font-size: 1em;
}
p {
	font-size: 1em;
	padding-bottom: 1em;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.1em;
	padding-bottom: 2em;
	color: #000;
}
h2 {
	font-size: 1em;
	font-style: italic;
	line-height: 1em;
	letter-spacing: 0.2em;
	padding: 0 0 1em 0;
}
a {
	color: #353434;
	text-decoration: none;
}
a:hover {
	color: #7cae91;
}
p a {
	color: #757575;
}
img {
	width: 100%;
	padding-bottom: 2em;
}
#firstcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-left: 7.5%;
	float: left;
	text-align: justify;
}
#secondcolumn {
	width: 28.33%;
	padding: 2.5%;
	float: left;
	text-align: justify;
}
#thirdcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-right: 7.5%;
	float: left;
	text-align: justify;
}
footer {
	background-color: #bbc3b8;
	float: left;
	width: 100%;
}
footer a {
	text-transform: uppercase;
	padding: 1em;
}
footer a:hover {
	color: #fff;
}
footer img {
	max-width: 25%;
	padding: 1em;
}
#copyright {
	padding: 2em;
}
#wrapper {
    background-color: #fff;
    position: relative;
    width:100%;
    padding:0;
    margin: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 1000px) {
	body {
		padding-top: 5%; 
	}
	nav a {
		font-size: 1.5em;
	}
	span {
	font-size: 1em;
}
	h1 {
		font-size: 1.5em;
		text-align: center;
	}
		#firstcolumn, #secondcolumn, #thirdcolumn {
		float: none;
		width: 80%;
		margin: 20%;
		margin: 0 auto;
		padding-top: 3%;
		text-align: center;
	}
	footer a {
		display: block;
	}
@media only screen and (max-width: 414px) {
		body {
		top: 20%;
		}
		nav {
		height: 5em;
		}
		nav a {
		font-size: 1em;
		}
		#firstcolumn {
		padding-top: 2em;
		}
		span {
		font-size: .6em;
}
}