* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #343535;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1.25px;
	padding-top: 10%;
}
nav {
	background-color: #bbc3b8;
	position: fixed;
	height: 10%;
	width: 100%;
	top: 0;
}
nav a {
	top: 50%;
	font-size: 2em;
	font-style: italic;
}
p {
	font-size: 1em;
	padding-bottom: 1em;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.1em;
	padding-bottom: 2em;
	color: #000;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.2em;
	padding: 0 0 1em 0;
}
a {
	color: #353434;
	text-decoration: none;
}
a:hover {
	color: #7cae91;
}
p a {
	color: #757575;
}
img {
	width: 100%;
	padding-bottom: 2em;
}
#firstcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-left: 7.5%;
	float: left;
	text-align: justify;
}
#secondcolumn {
	width: 28.33%;
	padding: 2.5%;
	float: left;
	text-align: justify;
}
#thirdcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-right: 7.5%;
	float: left;
	text-align: justify;
}
footer {
	padding: 1em;
	background-color: #ededed;
}
footer a {
	text-transform: uppercase;
	padding: 1em;
}
footer a:hover {
	color: #fff;
}
footer img {
	max-width: 25%;
	padding: 1em;
}
#copyright {
	padding: 2em;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 3em;
	}
	footer a {
		display: block;
	}
@media only screen and (max-width: 414px) {
}