* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #343535;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1.25px;
}
nav {
	background-color: #ededed;
}
p {
	font-size: 1em;
	padding: 0 2em 1em 2em;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 3em;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.1em;
	padding: 3em 1em 2em 1em;
	color: #000;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.2em;
	padding: 2em 0 1em 0;
}
a {
	color: #353434;
	text-decoration: none;
}
a:hover {
	color: #7cae91;
}
p a {
	color: #757575;
}
#columnone {
	width: 45%;
	margin-left: 5%;
	padding-right: 5%; 
	float: left;
}
#columntwo {
	width: 50%;
	float: left;
}
#columntwo img {
	width: 100%;
}
footer {
	padding: 1em;
	background-color: #ededed;
}
footer a {
	text-transform: uppercase;
	padding: 1em;
}
footer a:hover {
	color: #fff;
}
footer img {
	max-width: 25%;
	padding: 1em;
}
#copyright {
	padding: 2em;
}
#wrapper {
    background-color: #ffffff;
    position: relative;
    width:100%;
    margin: auto;
    text-align:center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 3em;
	}
	footer a {
		display: block;
	}
@media only screen and (max-width: 414px) {
}