* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Bodoni URW", serif;
	font-size: 20px;
	color: #000;
	text-align: center;
	letter-spacing: .1em;
}
#wrapper {
	width: 70%;
	margin: 0 auto;
}

