* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #343535;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1.5px;
}
h1 {
	font-family: "Futura PT";
	font-size: 6em;
	font-weight: 800;
	line-height: 1em;
	text-transform: uppercase;
	padding-top: 1em;
}
h2 {
	font-family: "Futura PT";
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	line-height: 1em;
	padding: 1em;
}
h3 {
	font-style: italic;
	font-weight: 400;
	font-size: 1em;
	padding-bottom: 1em;
}
nav {
}
nav a {
	display: block;
	text-transform: uppercase;
}
a {
	color: #353434;
	text-decoration: none;
}
a:hover {
	color: #7f99be;

}
.name {
	font-family: "Adobe Caslon Pro", serif;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	padding: 1em;
}
.theme {
	font-style: italic;
	font-size: 1.25em;
	padding: 5em 0;
	width: 70%;
	margin: 0 auto;
}
#teasers div {
	width: 30%;
	padding: 2.5%;
	float: left;
}
.highlight {
	color: #e8e5c8;
}
img {
	width: 100%;
}
#halftwo {
    background-color: #e8e5c8;
    position: relative;
}
#wrapper {
    background-color: #ffffff;
    position: relative;
    width:90%;
    padding:5% 0 0;
    margin: auto;
    color:#333;
    text-align:center;
}
#half {
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 100%;
    background-color: #353434;
}
article div {
	width: 56%;
	padding: 4%; 
	float: left;
	text-align: justify
}
aside {
	text-align: left;
	font-size: 3em;
	line-height: 1.5em;
	float: right;
	width: 36%;
	padding: 4%;
}
aside img {
	padding-top: 10%;
}
footer {
	padding: 5em;
}
footer a {
	text-transform: uppercase;
	font-family: "Futura PT", sans-serif;
	font-weight: 800;
	padding: 1em;
}
footer img {
	max-width: 20%;
	padding: 2em;
}
#copyright {
	padding: 2em;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}