* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #343535;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 1.25px;
}
p {
	font-size: 1em;
	padding-bottom: 3em;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 5.5em;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding-bottom: 1em;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding: 2em;
}
h3 {
	font-style: italic;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0.15em;
	padding-bottom: 0.5em;
}
a {
	color: #353434;
	text-decoration: none;
}
a:hover {
	color: #98b6c3;
}
p a {
	color: #757575;
}
.name {
	font-family: "Adobe Caslon Pro", serif;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding: 1em;
}
.theme {
	font-style: italic;
	font-size: 1.25em;
	letter-spacing: 0.15em;
	padding: 1em 0 0 0;
	width: 70%;
	margin: 0 auto;
}
.highlight {
	color: #e8e5c8;
}
nav a {
	display: block;
}
#about div {
	width: 50%;
	text-align: left;
	float: left;
	padding: 5%;
	transform: rotate (90deg);
}
#archive div {
	width: 60%;
	padding-bottom: 2%;
	margin: 0 auto;
	transform: rotate (-90deg);
}
img {
	width: 100%;
}
#heroimage {
	padding: 0% 10% 5% 10%;
}
#hero {
	padding: 10%;
}
article div {
	width: 60%;
	padding: 0% 5% 5% 10%; 
	float: left;
	text-align: justify;
}
aside {
	text-align: left;
	font-size: 2em;
	line-height: 1.5em;
	float: left;
	width: 40%;
	padding-right: 10%;
}
#firstcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-left: 7.5%;
	float: left;
}
#secondcolumn {
	width: 28.33%;
	padding: 2.5%;
	float: left;
}
#thirdcolumn {
	width: 28.33%;
	padding: 2.5%;
	margin-right: 7.5%;
	float: left;
}
#gallery div {
	width: 50%
}
#articleflow {
	width: 90%;
	margin: 0 auto;
	padding: 0 5%;
	margin-bottom: 5%;
}
#articleflow div {
	width: 50%;
	float: left;
}
#articleflow div:first-of-type {
	border-right: 2px solid #353434;
}
#arrowleft {
	width: 0; 
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid black;
	display: none;
}
#arrowright {
	width: 0; 
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
	display: none;
}
#arrowleft a:hover {
	display: block;
}
#arrowright a:hover {
	display: block;
}
footer {
	padding: 1em;
	background-color: #e8ccbe;
}
footer a {
	text-transform: uppercase;
	padding: 1em;
}
footer a:hover {
	color: #fff;
}
footer img {
	max-width: 20%;
	padding: 1em;
}
#copyright {
	padding: 2em;
}
#gray {
    background-color: #353434;
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    z-index: 0;
}
#gray a {
	color: #e8e5c8;
	text-transform: uppercase;
    position: relative;
    top:49%;
    z-index: 5;
    -webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
#yellow {
    background-color: #e8e5c8;
    position: fixed;
    top: 0;
    right: 0;
    width: 5%;
    height: 100%;
    z-index: 0;
}
#yellow a {
	color: #353434;
	text-transform: uppercase;
    position: relative;
    top:49%;
    z-index: 5;
    -webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
}
#wrapper {
    background-color: #ffffff;
    position: relative;
    width:90%;
    padding:5% 0 0;
    margin: auto;
    color:#333;
    text-align:center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 3em;
	}
	#firstcolumn, #secondcolumn, #thirdcolumn {
		float: none;
		width: 90%;
		padding: 5%;
		margin: 0 auto;
	}
}