* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	color: #fff;
	text-align: center;
	font-family: "adobe-caslon-pro", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	background-image: url("onherplate-4.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #2f2f2f;
}
h1 + h4 {
	margin-top: 1.5em;
}
h3 + h1 {
	margin-top: 0.3em;
}
a {
	color: #fff;
	padding: 0.5em;
}
h4 + h5 {
	margin-top: 2em;
}
a {
	text-decoration: none;
	transition: 0.1s;
}
a:hover {
	color: #e8e5c8;
}
#spacer {
	height: 30%;
}
#links {
		padding: 1em 0.5em;
}
.button1 {
	width: 25em;
	border: 1px solid #ededed;
	margin: 1em auto;
	padding: 1em;
} 
.button1:hover {
	background-color: #fff;
	color: #343535;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 2em;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	width: 80%;
	margin: 0 auto;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.1em;
	margin-bottom: 2em;
	text-transform: uppercase;
}
h3 {
	font-family: "futura-pt", sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	text-transform: uppercase;
}	
h4 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.1em;
	margin: 0 auto;
	width: 75%;
}
h5 {
	font-size: 0.8em;
	font-weight: 400;
}
.icon {
	font-size: 3em;
}
footer {
	margin: 3em;
}

