* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	margin: 5% 0%;
	color: #404040;
	text-align: center;
	font-family: "adobe-garamond-pro", serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.5px;
}
#blogname {
	padding: 5%;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}
h3 {
	font-family: "futura-pt", sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	text-transform: uppercase;
}
h4 {

}
h5 {
	font-size: 1.5em;
	font-family: "futura-pt", sans-serif;
	font-weight: 300;
	width: 80%;
	margin: 0 auto;
}
h2 + h1 {
	margin-top: 0.5em;
}
h1 + h3 {
	margin-top: 1em;
}
h5 + img {
	margin-top: 4em;
}
img + img {
	margin-top: 2em;
}
p+ img {
	margin-top: 2em;
}
a {
	font-style: none;
}
a:hover {

}
ul {
	font-style: none;
}
p {
	margin-top: 2em;
}
#hero {
	margin: 5% 0%;
}
img {
	width: 100%;
}
nav {
	border-top: 1px solid #bebebe;
	padding-top: 5%;
}
nav a{
	text-transform: uppercase;
	padding: 2em;
}
article div {
	width: 70%;
	margin-right: 5%;
	float: left;
	margin-bottom: 5%;
}
article div p {
	text-align: justify;
}
aside {
	width: 25%;
	float: left;
}
aside h2 {
	margin-top: 1em;
}
#outfit {
	margin: 5% auto;
	width: 100%;
}
.line {
	width: 10em;
	margin: 10% auto;
	border-top: 1px solid #bebebe;
}
#wrapper {
	width: 80%;
	max-width: 980px;
	margin: 0 auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}