* { margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	margin: 5% 0%;
	color: #404040;
	text-align: center;
	font-family: "adobe-garamond-pro", serif;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.5px;
	background-color: #f0f0f0;
	-webkit-font-smoothing: antialiased;
}
#blogname {
	padding: 5%;
}
h1 {
	font-family: "futura-pt", sans-serif;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 0.3em;
	line-height: 1.2em;
	text-transform: uppercase;
}
h2 {
	font-family: "futura-pt", sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}
h3 {
	font-family: "futura-pt", sans-serif;
	font-size: 0.8em;
	font-weight: 300;
	text-transform: uppercase;
}
h4 {

}
h5 {
	font-size: 1.2em;
	width: 60%;
	margin: 0 auto;
	font-style: italic;
	font-weight: 400;
}
h6 {
	font-family: "futura-pt", sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h2 + h1 {
	margin-top: 1em;
}
h1 + h3 {
	margin-top: 1em;
}
h5 + img {
	margin-top: 4em;
}
img + img {
	margin-top: 2em;
}
p+ img {
	margin-top: 2em;
}
h6 + img {
	margin-top: 5em;
}
a {
	text-decoration: none;
	color: #222222;
}
a:hover {

}
ul {
	font-style: none;
}
p {
	margin-top: 2em;
}
#hero {
	margin: 5% 0%;
}
img {
	width: 100%;
}
nav {
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	padding: 1% 0%;
}
nav a{
	text-transform: uppercase;
	padding: 5em;
	font-size: 0.8em;
}
article div {
	width: 72.5%;
	margin-right: 5%;
	float: left;
	margin-bottom: 5%;
}
article div p {
	text-align: justify;
}
article div a {
	font-weight: 600;
	font-size: 0.9em;
	text-transform: uppercase;
	border-bottom: 1px solid #404040;
}
aside {
	width: 22.5%;
	float: left;
}
aside h2 {
	margin-top: 1em;
}
#outfit {
	margin: 5% auto;
	width: 100%;
}
.line {
	width: 4em;
	margin: 5% auto;
	border-top: 3px solid #333333;
}
#row article {
	display: block;
	float: left;
	width: 33.33%;
	padding: 1.5%;
	margin: 2em 0;
}
#row img {
	margin-bottom: 2em;
}
#wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}