* { margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	color: #353434;
	text-align: center;
	font-family: "Adobe Caslon Pro", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 2px;
    background: url("../images/inkdots.jpg");
    padding: 1em;
    margin: .25em;
}
nav {
	font-weight: 800;
	float: right;
}
nav a {
	display: block;
	float: left;
	padding: 1.25em;
}
.name {
	font-size: 1em;
	font-weight: 800;
	float: left;
	display: block;
	color: #343535;
	padding: 1.25em;
}
h1 {
	font-size: 3em;
	font-weight: 900;
	color: #00333b;
	padding: 1em;
}
h2, h3, .issue_theme {
	font-family: "Futura PT", sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	padding: 1em;
}
h3 {
	font-size: .8em;
	text-transform: uppercase;
}
span {
	font-style: italic;
}
a {
	color: #353434;
	text-decoration: none;
	font-weight: 900;
}
a:hover {
	color: #f9ad81;
}
ul {
	list-style: none
}
p {
	text-align: justify;
	padding: 1em 0em;
	width: 60%;
	margin: 0 auto;
}
.hero {
	width: 100%;
}
img {
	width: 60%;
}
img:hover {
	background-color: #fdad01;
	opacity: 0.65;
}
.teaser{
	margin: 2em;
	padding: 1em;
}
.box {
	background-color: #aab4ac;
	margin: 2em;
	padding: 1em;
}
.wrapper {
	background-color: #f5f5f5;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}