* { margin:0;
	padding:0;
	box-sizing:border-box; 
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
body {
	color: #353434;
	text-align: center;
	font-family: "Futura PT", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 2px;
    background: url("../images/pattern.png");
    padding: 2em;
    margin: 5em;
}
h1 {
	font-size: 3em;
	font-weight: 900;
	color: #641c5e;
	padding: 1em;
}
h2, h3, .issue_theme {
	font-size: 1.2em;
	font-weight: 100;
	color: #4153fb;
	padding: 1em;
}
h3 {
	color: #0119fd;
	font-size: .8em;
	text-transform: uppercase;
}
span {
	font-style: italic;
}
a {
	color: #353434;
	text-decoration: none;
	font-weight: 900;
}
a:hover {
	color: #fdad01;
}
ul {
	list-style: none
}
p {
	font-family: "Adobe Caslon Pro", serif;
	text-align: justify;
	padding: 1em 2em;
}
img {
	width: 40%;
}
img:hover {
	background-color: #fdad01;
	opacity: 0.65;
}
.teaser{
	margin: 2em;
	padding: 1em;
}
.box {
	background-color: #aab4ac;
	margin: 2em;
	padding: 1em;
}
.wrapper {
	background-color: #f5f5f5;
	margin: 1em;
}