body {
	background: #898e7f;
	color: #442e3b;
	margin-left: 50;
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-weight: 300
	font-size: 16px;
}
h1 {
	font-family: "Times New Roman", serif;
	font-weight: 500;
	font-size: 30px;
}
hr {
	margin-left: 0;
	width: 400px;
}
#slogan {
	font-style: italic;
}
#uppercase 	{
	text-transform: uppercase;
}
ul {
     list-style-type: none;
     text-decoration: underline;
}
a {
	color: #000;
}
a:hover {
	color: #d8ceca;
}
